# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Models and Large Data
*.pt
# fpga/data/*.hex (Removed to allow submission)

# Vivado / FPGA
docs/
fpga/build/
fpga/scripts/zynq_7020_*_final.tcl
fpga/data/fc1_w_bank*.hex
*.log
*.jou
*.pb
*.vdi
*.xsim
*.dir/
.Xil/
py/.idea/
mnist_timing/
mnist_sim/
mnist_top_sim/
mnist_top_sim_final/
conv1_sim/
conv2_sim/
backend_sim/
*.xpr
*.lpr
*.sh
*.str
*.zip

# OS
.DS_Store
Thumbs.db
